.box {
  width: 80px;
  height: 50px;
  border-radius: 30px;
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box:hover {
  scale: 1.1;
}
.boxMenu {
  position: relative;
  top: 10px;
  width: 80px;
  height: 350px;
  background-color: red;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.boxMenu.visible {
  opacity: 1;
  transform: translateY(0);
}

.none {
  display: none;
}
