.layout {
  position: fixed;
  top: 5%;
  left: 2%;
  width: 96%;
  height: 90%;
  border: 1px solid transparent;
  
}
@keyframes borderAnimation {
  0% {
    border-color: #333333;
  }
  25% {
    border-color: #cccccc;
  }
  50% {
    border-color: #999999;
  }
  75% {
    border-color: #666666;
  }
  100% {
    border-color: #333333;
  }
}
