.home{
  position: absolute;
  top: 100px;
  left: 5%;
  width: 90%;
  height: 100%;
  background-color: white;
  font-family: "Raleway", sans-serif;
  display: flex;
  border-radius: 30px;
}
.logo{
  position: relative;
  top: 40px;
  left: 40px;
}
.name{
  position: absolute;
  top: 25px;
  left: 120px;
}
.contactButton{
  position: absolute;
  top: 25px;
  left: 80%;
  width: 120px;
  height: 50px;
  border-radius: 30px;
  background-color: white;
  border: 1px black solid;
  font-weight: bold;

}
.contactButton:hover{
  background-color: rgb(238, 238, 238);
  scale: 1.1;
}
.menu{
  position: absolute;
  top: 20px;
  left: 90%;

}